.header-top {
  padding-left: 20px;
  padding-right: 20px;
}

.header-top__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-top__logo {
  margin-right: 50px;
}

.header-top__input {
  width: 590px;
  height: 50px;
  margin-right: 10px;
  padding-left: 11px;
  padding-right: 40px;
  font-size: 16px;
  color: #464445;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  letter-spacing: .025em;
  transition: .3s;
}

.header-top__input:hover {
  border: 1px solid #002855;
}

.header-top__submit {
  position: relative;
  top: 2px;
  height: 50px;
  width: 100px;
  margin-right: 20px;
  padding: 0;
  font-size: 16px;
  line-height: 50px;
  color: #b3b3b3;
  background-color: #f2f2f2;
  border: 2px solid #e6e6e6;
  border-radius: 3px;
  letter-spacing: .025em;
  cursor: pointer;
  transition: .3s;
}

.header-top__submit:hover {
  color: #d2d23f;
  background-color: #002855;
  border: 2px solid #002855;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.header-top__login {
  margin-right: 20px;
  color: #464445;
  font-size: 13px;
  cursor: pointer;
  text-decoration: none;
}

.header-top__login:hover {
  text-decoration: underline;
}

.header-top__login-svg {
  position: relative;
  top: 5px;
  margin-right: 10px;
}

.header-top__favorites {
  margin-right: 20px;
  cursor: pointer;
}

.header-top__favorites-svg {
  position: relative;
  top: 9px;
  margin-right: 10px;
}

.header-top__basket {
  margin-right: 20px;
  color: #464445;
  font-size: 13px;
  cursor: pointer;
  text-decoration: none;
}

.header-top__basket:hover {
  text-decoration: underline;
}

.header-top__basket-svg {
  position: relative;
  top: 9px;
  margin-right: 10px;
}